body{
    background-color: black;
}
.div{
    margin-top: -80px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    justify-items: center;
    align-items: center;

}
.div_form{
    
    width: 600px;
    height: 500px;
    
}
.second_form{
    width: 600px;
    
    margin-right: 40px;            
}
.second_form img{
    width: 100%;
}

label{
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: white;
    display: block;
    
    margin-top: 30px;
    margin-bottom: 30px;
}
input{
    display: block;
    outline: none;
    border: none;
    border-bottom: 2px solid whitesmoke;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: transparent;
    color: white;
    width: 300px;
    letter-spacing: 3px;
    height: 30px;
}
input :placeholder-shown{
    font-size: 16px;
    font-weight: 400;
    font-display: 3px;
    letter-spacing: 3px;
}
button{
    width: 300px;
    background-color: white;
    color: black;
    height: 40px;
    border: none;
    outline: none;
    
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
}
label p{
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    width: 300px;
    margin-left: 0;

}
